body {
  background: rgb(255, 230, 235);
  text-align: center;
  margin: 0 auto;
}

h1 {
  color: rgb(229, 112, 126);
  margin: 20px;
}

a {
  color: rgb(0, 161, 157);
  margin: 0 10px;
}

p {
  max-width: 800px;
  margin: 16px auto;
}

img {
  display: block;
  border-radius: 10px;
  margin: 30px auto;
  position: relative;
}
